
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap');
.service-image{
    width: 100%;
    height: 500px;
}
.stat-heading1{
    font-family: 'Montserrat', sans-serif;
}
.stat-heading1 p{
    color: rgb(109, 128, 121);
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
}

.heading:hover{
  color: rgb(14, 236, 181);
  border-bottom: 5px solid rgb(14, 236, 181) ;
  text-transform: uppercase
}
