body{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #eff0f1 !important;
    font-family: 'Montserrat', sans-serif !important;
    min-height: 100vh;
    color: #fffafa;
    margin: 0;
    overflow-x: hidden;
   
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
